@model VargasM_Taller2.Models.Jugador

@{
    ViewData["Title"] = "Details";
}

<style>
    body {
        background-color: #2c3e50; /* Azul Bootstrap */
        color: white; /* Para que el texto sea legible */
    }

    .table, .table th, .table td {
        color: white;
        background-color: transparent;
    }

    .thead-dark th {
        background-color: #2c3e50;
    }
</style>

<h1>Details</h1>

<div>
    <h4>Jugador</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroCamiseta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroCamiseta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Goles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Goles)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Asistencias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Asistencias)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sueldo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sueldo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Equipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Equipo.Nombre)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a class="btn btn-outline-info" asp-action="Index">Back to List</a>
</div>
